<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.xander.performance">

  <uses-sdk tools:overrideLibrary="me.weishu.freereflection" />

  <application>
    <provider
      android:name="com.xander.performance.AppHelper"
      android:authorities="com.xander.performance.AppHelper" />
  </application>

</manifest>
